<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rh.daily">

    <application>

        <activity
            android:name="com.example.rh.daily.activity.PictureActivity"
            android:label=""
            android:theme="@style/PictureTheme" />
        <activity
            android:name="com.example.rh.daily.fileExplorer.OpenFileActivity"
            android:label=""
            android:theme="@style/PictureTheme" />

        <service android:name="com.example.rh.daily.download.DownloadService" />


        <activity
            android:name="com.example.rh.daily.activity.ShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShowImage" />

        <activity
            android:name="com.example.rh.daily.activity.WebActivity"
            android:label=""/>

    </application>
</manifest>